*{
 margin: 0 auto;
background-color: #A6A57A;

}

h1 {
margin-bottom: 20px;
background-color: #A33B20 ;    
color: white;
padding: 30px 10px;
text-align: center;
font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

a{
font-family: Arial, Helvetica, sans-serif;
color: rgba(28, 28, 90, 0.754);
font-size: 24px;
text-align: center;
padding: 5px;
display: block;
text-decoration: none;
}

li{

display: block;
}