h1 {
background-color: #A33B20 ;    
color: white;
padding: 30px 10px;
text-align: center;
font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
a

a{
text-decoration: none;
background-color: #A47963 ;
}